<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WMHAlbumSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB71CE2B1E8B523B006398F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB71CE3F1E8B523B006398F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB71CE4A1E8B523B006398F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
